In [1]:
import FINE as fn
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

%load_ext autoreload
%autoreload 2

c:\users\l.kotzur\sciebo\fzj\04_public\fine\FINE\IOManagement\standardIO.py:13: UserWarning: The GeoPandas python package could not be imported.
  warnings.warn('The GeoPandas python package could not be imported.')

# Water supply of a small mountain village

Two new houses (house 5 and 6) were built in a small mountain village in Utopia which requires an update of the existing clean water supply system of the village which now consists of 6 houses:

<img src="MountainVillage.png" style="width: 500px;"/>


### Water demand
The demand for clean water occurs in spring between 5 am and 11 pm, in summer between 4 am and 12 pm, in autumn between 5 am and 11 pm and in winter between 6 am and 11 pm. The demand for one house assumes random values between 0 to 1 Uh (Unit*hour) during the demand hours. These values are uniformly distributed and are 0 outside the demand hours.

### Water supply 
The water supply comes from a small tributary of a glacier river, which provides more water in summer and less in winter: the profile is given for each hour of the year as

f(t) = 8 \* sin(π*t/8760) + g(t)    
    
where g(t) is a uniformly distributed random value between 0 and 4.

### Water storage
Clean water can be stored in a water tank (newly purchased). The invest per capacity is 100€/Uh, the economic lifetime is 20 years.

### Water treatment
The river water is converted to clean water in a water treatment plant (newly purchased). The invest per capacity is 7000€/U, the economic lifetime is 20 years. Further, it needs some electricity wherefore it has operational cost of 0.05 €/U.

### Water transmission
The clean water can be transported via water pipes, where some already exist between the houses 1-4, the water treatment plant and thewater tank, however new ones might need tobe built to connect the newly built houses or reinforce the transmission along the old pipes. The invest for new pipes per capacity is 100 €/(m\*U), the invest if a new pipe route is built is 500 €/(m\*U), the economic lifetime is 20 years.

In [2]:
locations = ['House 1', 'House 2', 'House 3', 'House 4', 'House 5', 'House 6',
             'Node 1', 'Node 2', 'Node 3', 'Node 4', 'Water treatment', 'Water tank']
commodityUnitDict = {'clean water': 'U', 'river water': 'U'}
commodities = {'clean water', 'river water'}
numberOfTimeSteps=8760
hoursPerTimeStep=1

In [3]:
esM = fn.EnergySystemModel(locations=set(locations), commodities=commodities, numberOfTimeSteps=8760,
                           commodityUnitsDict=commodityUnitDict,
                           hoursPerTimeStep=1, costUnit='1e3 Euro', lengthUnit='m')

# Source

In [4]:
riverFlow = pd.DataFrame(np.zeros((8760,12)), columns=locations)
np.random.seed(42)
riverFlow.loc[:,'Water treatment'] = np.random.uniform(0,4,(8760))+8*np.sin(np.pi*np.arange(8760)/8760)

In [5]:
esM.add(fn.Source(esM=esM, name='River', commodity='river water', hasCapacityVariable=False,
                  operationRateMax=riverFlow, opexPerOperation = 0.05))

# Conversion

In [6]:
eligibility = pd.Series([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0], index=locations)
esM.add(fn.Conversion(esM=esM, name='Water treatment plant', physicalUnit='U',
                      commodityConversionFactors={'river water':-1, 'clean water':1}, 
                      hasCapacityVariable=True, locationalEligibility=eligibility,
                      investPerCapacity=7, opexPerCapacity=0.02*7, interestRate=0.08, economicLifetime=20))

# Storage

In [7]:
eligibility = pd.Series([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1], index=locations)
esM.add(fn.Storage(esM=esM, name='Water tank', commodity='clean water', hasCapacityVariable=True, 
                   chargeRate=1/24, dischargeRate=1/24, locationalEligibility=eligibility,
                   investPerCapacity=0.10, opexPerCapacity=0.02*0.1, interestRate=0.08, economicLifetime=20))

# Transmission

### Distances between eligible regions

In [8]:
distances = np.array([[0, 0, 0, 0, 0, 0, 0, 0, 38, 0, 0, 0],
                      [0, 0, 0, 0, 0, 0, 0, 0, 40, 0, 0, 0],
                      [0, 0, 0, 0, 0, 0, 0, 38, 0, 0, 0, 0],
                      [0, 0, 0, 0, 0, 0, 0, 40, 0, 0, 0, 0],
                      [0, 0, 0, 0, 0, 0, 38, 0, 0, 0, 0, 0],
                      [0, 0, 0, 0, 0, 0, 40, 0, 0, 0, 0, 0],
                      [0, 0, 0, 0, 38, 40, 0, 105, 0, 0, 0, 0],
                      [0, 0, 38, 40, 0, 0, 105, 0, 100, 0, 0, 0],
                      [38, 40, 0, 0, 0, 0, 0, 100, 0, 30, 0, 0],
                      [0, 0, 0, 0, 0, 0, 0, 0, 30, 0, 20, 50],
                      [0, 0, 0, 0, 0, 0, 0, 0, 0, 20, 0, 0],
                      [0, 0, 0, 0, 0, 0, 0, 0, 0, 50, 0, 0]])

distances = pd.DataFrame(distances, index=locations, columns=locations)
distances

,House 1,House 2,House 3,House 4,House 5,House 6,Node 1,Node 2,Node 3,Node 4,Water treatment,Water tank
House 1,0,0,0,0,0,0,0,0,38,0,0,0
House 2,0,0,0,0,0,0,0,0,40,0,0,0
House 3,0,0,0,0,0,0,0,38,0,0,0,0
House 4,0,0,0,0,0,0,0,40,0,0,0,0
House 5,0,0,0,0,0,0,38,0,0,0,0,0
House 6,0,0,0,0,0,0,40,0,0,0,0,0
Node 1,0,0,0,0,38,40,0,105,0,0,0,0
Node 2,0,0,38,40,0,0,105,0,100,0,0,0
Node 3,38,40,0,0,0,0,0,100,0,30,0,0
Node 4,0,0,0,0,0,0,0,0,30,0,20,50
Water treatment,0,0,0,0,0,0,0,0,0,20,0,0
Water tank,0,0,0,0,0,0,0,0,0,50,0,0

## Old water pipes

In [9]:
capacityFix = np.array([[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0],
                        [0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0],
                        [0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
                        [0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
                        [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                        [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                        [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                        [0, 0, 1, 1, 0, 0, 0, 0, 2, 0, 0, 0],
                        [1, 1, 0, 0, 0, 0, 0, 2, 0, 4, 0, 0],
                        [0, 0, 0, 0, 0, 0, 0, 0, 4, 0, 4, 4],
                        [0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 0, 0],
                        [0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 0, 0]])

capacityFix = pd.DataFrame(capacityFix, index=locations, columns=locations)
capacityFix

,House 1,House 2,House 3,House 4,House 5,House 6,Node 1,Node 2,Node 3,Node 4,Water treatment,Water tank
House 1,0,0,0,0,0,0,0,0,1,0,0,0
House 2,0,0,0,0,0,0,0,0,1,0,0,0
House 3,0,0,0,0,0,0,0,1,0,0,0,0
House 4,0,0,0,0,0,0,0,1,0,0,0,0
House 5,0,0,0,0,0,0,0,0,0,0,0,0
House 6,0,0,0,0,0,0,0,0,0,0,0,0
Node 1,0,0,0,0,0,0,0,0,0,0,0,0
Node 2,0,0,1,1,0,0,0,0,2,0,0,0
Node 3,1,1,0,0,0,0,0,2,0,4,0,0
Node 4,0,0,0,0,0,0,0,0,4,0,4,4
Water treatment,0,0,0,0,0,0,0,0,0,4,0,0
Water tank,0,0,0,0,0,0,0,0,0,4,0,0

The old pipes have many leckages wherefore they lose 0.1%/m of the water they transport.

In [10]:
isBuiltFix = capacityFix.copy()
isBuiltFix[isBuiltFix>0]=1

esM.add(fn.Transmission(esM=esM, name='Old water pipes', commodity='clean water',
                        losses = 0.1e-2,
                        distances=distances, hasCapacityVariable=True, hasIsBuiltBinaryVariable=True, bigM=100,
                        capacityFix=capacityFix, isBuiltFix=isBuiltFix))

## New water pipes

In [11]:
incidence = np.array([[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0],
                      [0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0],
                      [0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
                      [0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
                      [0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
                      [0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
                      [0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0],
                      [0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0],
                      [1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0],
                      [0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1],
                      [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0],
                      [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0]])

eligibility = pd.DataFrame(incidence, index=locations, columns=locations)
eligibility

,House 1,House 2,House 3,House 4,House 5,House 6,Node 1,Node 2,Node 3,Node 4,Water treatment,Water tank
House 1,0,0,0,0,0,0,0,0,1,0,0,0
House 2,0,0,0,0,0,0,0,0,1,0,0,0
House 3,0,0,0,0,0,0,0,1,0,0,0,0
House 4,0,0,0,0,0,0,0,1,0,0,0,0
House 5,0,0,0,0,0,0,1,0,0,0,0,0
House 6,0,0,0,0,0,0,1,0,0,0,0,0
Node 1,0,0,0,0,1,1,0,1,0,0,0,0
Node 2,0,0,1,1,0,0,1,0,1,0,0,0
Node 3,1,1,0,0,0,0,0,1,0,1,0,0
Node 4,0,0,0,0,0,0,0,0,1,0,1,1
Water treatment,0,0,0,0,0,0,0,0,0,1,0,0
Water tank,0,0,0,0,0,0,0,0,0,1,0,0

The new are pipes are better but still lose 0.05%/m of the water they transport.

In [12]:
esM.add(fn.Transmission(esM=esM, name='New water pipes', commodity='clean water',
                        losses = 0.05e-2,
                        distances=distances, hasCapacityVariable=True, hasIsBuiltBinaryVariable=True, bigM=100,
                        locationalEligibility=eligibility,
                        investPerCapacity=0.1, investIfBuilt=0.5, interestRate=0.08, economicLifetime=50))

# Sink

In [13]:
winterHours=np.append(range(8520,8760),range(1920))
springHours, summerHours, autumnHours = np.arange(1920,4128), np.arange(4128,6384), np.arange(6384,8520)

demand = pd.DataFrame(np.zeros((8760,12)), columns=list(locations))
np.random.seed(42)
demand[locations[0:6]] = np.random.uniform(0,1,(8760,6))

demand.loc[winterHours[(winterHours%24 < 5) | (winterHours%24 >= 23)]] = 0
demand.loc[springHours[(springHours%24 < 4)]] = 0
demand.loc[summerHours[(summerHours%24 < 5) | (summerHours%24 >= 23)]] = 0
demand.loc[autumnHours[(autumnHours%24 < 6) | (autumnHours%24 >= 23)]] = 0

In [14]:
demand.sum().sum()

19955.41528977587

In [15]:
esM.add(fn.Sink(esM=esM, name='Water demand', commodity='clean water', hasCapacityVariable=False,
                  operationRateFix=demand))

# Optimize the system

In [16]:
esM.cluster(numberOfTypicalPeriods=7)

Clustering time series data with 7 typical periods and 24 time steps per period...
		(3.8982 sec)

In [17]:
esM.optimize(timeSeriesAggregation=True, optimizationSpecs='LogToConsole=1 OptimalityTol=1e-6 crossover=1')

Time series aggregation specifications:
Number of typical periods:7, number of time steps per periods:24

Declaring sets, variables and constraints for SourceSinkModel
	declaring sets...
	declaring variables...
	declaring constraints...
		(0.1335 sec)

Declaring sets, variables and constraints for ConversionModel
	declaring sets...
	declaring variables...
	declaring constraints...
		(0.0000 sec)

Declaring sets, variables and constraints for StorageModel
	declaring sets...
	declaring variables...
	declaring constraints...
		(0.1844 sec)

Declaring sets, variables and constraints for TransmissionModel
	declaring sets...
	declaring variables...
	declaring constraints...
		(0.4498 sec)

Declaring shared potential constraint...
		(0.0000 sec)

Declaring commodity balances...
		(0.6321 sec)

Declaring objective function...
		(0.2158 sec)

Academic license - for non-commercial use only
Read LP format model from file C:\Users\l.kotzur\sciebo\FZJ\04_Public\FINE\examples\WaterSupplySystem\tmpvx2x1aa6.pyomo.lp
Reading time = 0.15 seconds
x8738: 12004 rows, 8738 columns, 40490 nonzeros
Changed value of parameter QCPDual to 1
   Prev: 0  Min: 0  Max: 1  Default: 0
Parameter LogToConsole unchanged
   Value: 1  Min: 0  Max: 1  Default: 1
Changed value of parameter logfile to
   Prev: gurobi.log  Default:
Changed value of parameter Threads to 3
   Prev: 0  Min: 0  Max: 1024  Default: 0
Parameter OptimalityTol unchanged
   Value: 1e-06  Min: 1e-09  Max: 0.01  Default: 1e-06
Changed value of parameter crossover to 1
   Prev: -1  Min: -1  Max: 5  Default: -1
Optimize a model with 12004 rows, 8738 columns and 40490 nonzeros
Variable types: 8700 continuous, 38 integer (38 binary)
Coefficient statistics:
  Matrix range     [4e-02, 1e+02]
  Objective range  [1e-02, 5e+00]
  Bounds range     [1e+00, 1e+00]
  RHS range        [1e-03, 1e+01]
Presolve removed 5473 rows and 2056 columns
Presolve time: 0.09s
Presolved: 6531 rows, 6682 columns, 24177 nonzeros
Variable types: 6679 continuous, 3 integer (3 binary)

Root relaxation: objective 1.134009e+03, 3767 iterations, 0.67 seconds

    Nodes    |    Current Node    |     Objective Bounds      |     Work
 Expl Unexpl |  Obj  Depth IntInf | Incumbent    BestBd   Gap | It/Node Time

     0     0 1134.00912    0    3          - 1134.00912      -     -    0s
     0     0 1134.00912    0    3          - 1134.00912      -     -    0s
     0     1 1134.00912    0    3          - 1134.00912      -     -    0s
*    4     1               3    1148.3534875 1135.98827  1.08%   296    1s
*    5     1               3    1137.5379578 1137.06770  0.04%   309    1s

Explored 8 nodes (5391 simplex iterations) in 1.08 seconds
Thread count was 3 (of 8 available processors)

Solution count 2: 1137.54 1148.35

Optimal solution found (tolerance 1.00e-04)
Best objective 1.137537957813e+03, best bound 1.137537957813e+03, gap 0.0000%

Status: ok
Return code: 0
Message: Model was solved to optimality (subject to tolerances), and an optimal solution is available.
Termination condition: optimal
Termination message: Model was solved to optimality (subject to tolerances), and an optimal solution is available.
Wall time: 1.08512687683
Error rc: 0
Time: 1.6992945671081543


Name: x8738
Lower bound: 1137.53795781
Upper bound: 1137.53795781
Number of objectives: 1
Number of constraints: 12004
Number of variables: 8738
Number of binary variables: 38
Number of integer variables: 38
Number of continuous variables: 8700
Number of nonzeros: 40490
Sense: minimize

Solve time: 3.2001404762268066 sec.

Processing optimization output...
for SourceSinkModel ...    (0.8925sec)
for ConversionModel ...    (0.7738sec)
for StorageModel ...       (2.9518sec)
for TransmissionModel ...  (4.3962sec)
		(9.0143 sec)

# Selected results output

### Sources and Sinks

In [18]:
esM.getOptimizationSummary("SourceSinkModel", outputLevel=2)

                                     House 1  House 2  House 3  House 4  \
Component    Property  Unit
River        TAC       [1e3 Euro/a]        0        0        0        0
             operation [U*h/a]           NaN      NaN      NaN      NaN
             opexOp    [1e3 Euro/a]      NaN      NaN      NaN      NaN
Water demand operation [U*h/a]       3329.49  3301.98  3316.75  3353.06

                                     House 5  House 6 Node 1 Node 2 Node 3  \
Component    Property  Unit
River        TAC       [1e3 Euro/a]        0        0      0      0      0
             operation [U*h/a]           NaN      NaN    NaN    NaN    NaN
             opexOp    [1e3 Euro/a]      NaN      NaN    NaN    NaN    NaN
Water demand operation [U*h/a]       3321.53  3332.61    NaN    NaN    NaN

                                    Node 4 Water tank Water treatment
Component    Property  Unit
River        TAC       [1e3 Euro/a]      0          0         1104.88
             operation [U*h/a]         NaN        NaN         22097.7
             opexOp    [1e3 Euro/a]    NaN        NaN         1104.88
Water demand operation [U*h/a]         NaN        NaN             NaN

### Storage

In [19]:
esM.getOptimizationSummary("StorageModel", outputLevel=2)

                                           House 1 House 2 House 3 House 4  \
Component  Property           Unit
Water tank TAC                [1e3 Euro/a]       0       0       0       0
           capacity           [U*h]            NaN     NaN     NaN     NaN
           capexCap           [1e3 Euro/a]     NaN     NaN     NaN     NaN
           invest             [1e3 Euro]       NaN     NaN     NaN     NaN
           operationCharge    [U*h/a]          NaN     NaN     NaN     NaN
           operationDischarge [U*h/a]          NaN     NaN     NaN     NaN
           opexCap            [1e3 Euro/a]     NaN     NaN     NaN     NaN

                                           House 5 House 6 Node 1 Node 2  \
Component  Property           Unit
Water tank TAC                [1e3 Euro/a]       0       0      0      0
           capacity           [U*h]            NaN     NaN    NaN    NaN
           capexCap           [1e3 Euro/a]     NaN     NaN    NaN    NaN
           invest             [1e3 Euro]       NaN     NaN    NaN    NaN
           operationCharge    [U*h/a]          NaN     NaN    NaN    NaN
           operationDischarge [U*h/a]          NaN     NaN    NaN    NaN
           opexCap            [1e3 Euro/a]     NaN     NaN    NaN    NaN

                                           Node 3 Node 4 Water tank  \
Component  Property           Unit
Water tank TAC                [1e3 Euro/a]      0      0   0.700925
           capacity           [U*h]           NaN    NaN    57.5226
           capexCap           [1e3 Euro/a]    NaN    NaN    0.58588
           invest             [1e3 Euro]      NaN    NaN    5.75226
           operationCharge    [U*h/a]         NaN    NaN     1012.1
           operationDischarge [U*h/a]         NaN    NaN     1012.1
           opexCap            [1e3 Euro/a]    NaN    NaN   0.115045

                                           Water treatment
Component  Property           Unit
Water tank TAC                [1e3 Euro/a]               0
           capacity           [U*h]                    NaN
           capexCap           [1e3 Euro/a]             NaN
           invest             [1e3 Euro]               NaN
           operationCharge    [U*h/a]                  NaN
           operationDischarge [U*h/a]                  NaN
           opexCap            [1e3 Euro/a]             NaN

### Conversion

In [20]:
esM.getOptimizationSummary("ConversionModel", outputLevel=2)

                                             House 1 House 2 House 3 House 4  \
Component             Property  Unit
Water treatment plant TAC       [1e3 Euro/a]       0       0       0       0
                      capacity  [U]              NaN     NaN     NaN     NaN
                      capexCap  [1e3 Euro/a]     NaN     NaN     NaN     NaN
                      invest    [1e3 Euro]       NaN     NaN     NaN     NaN
                      operation [U*h/a]          NaN     NaN     NaN     NaN
                      opexCap   [1e3 Euro/a]     NaN     NaN     NaN     NaN

                                             House 5 House 6 Node 1 Node 2  \
Component             Property  Unit
Water treatment plant TAC       [1e3 Euro/a]       0       0      0      0
                      capacity  [U]              NaN     NaN    NaN    NaN
                      capexCap  [1e3 Euro/a]     NaN     NaN    NaN    NaN
                      invest    [1e3 Euro]       NaN     NaN    NaN    NaN
                      operation [U*h/a]          NaN     NaN    NaN    NaN
                      opexCap   [1e3 Euro/a]     NaN     NaN    NaN    NaN

                                             Node 3 Node 4 Water tank  \
Component             Property  Unit
Water treatment plant TAC       [1e3 Euro/a]      0      0          0
                      capacity  [U]             NaN    NaN        NaN
                      capexCap  [1e3 Euro/a]    NaN    NaN        NaN
                      invest    [1e3 Euro]      NaN    NaN        NaN
                      operation [U*h/a]         NaN    NaN        NaN
                      opexCap   [1e3 Euro/a]    NaN    NaN        NaN

                                             Water treatment
Component             Property  Unit
Water treatment plant TAC       [1e3 Euro/a]          4.1662
                      capacity  [U]                  4.88437
                      capexCap  [1e3 Euro/a]         3.48238
                      invest    [1e3 Euro]           34.1906
                      operation [U*h/a]              22097.7
                      opexCap   [1e3 Euro/a]        0.683811

### Transmission

In [21]:
esM.getOptimizationSummary("TransmissionModel", outputLevel=2)

                                                          House 1    House 2  \
New water pipes TAC       [1e3 Euro/a] House 1                  0          0
                                       House 2                  0          0
                                       House 3                  0          0
                                       House 4                  0          0
                                       House 5                  0          0
                                       House 6                  0          0
                                       Node 1                   0          0
                                       Node 2                   0          0
                                       Node 3           0.0487282  0.0489309
                                       Node 4                   0          0
                                       Water treatment          0          0
                capacity  [U]          House 1                NaN        NaN
                                       House 2                NaN        NaN
                                       House 3                NaN        NaN
                                       House 4                NaN        NaN
                                       House 5                NaN        NaN
                                       House 6                NaN        NaN
                                       Node 1                 NaN        NaN
                                       Node 2                 NaN        NaN
                                       Node 3            0.961163   0.985952
                                       Node 4                 NaN        NaN
                                       Water treatment        NaN        NaN
                capexCap  [1e3 Euro/a] House 1                NaN        NaN
                                       House 2                NaN        NaN
                                       House 3                NaN        NaN
                                       House 4                NaN        NaN
                                       House 5                NaN        NaN
                                       House 6                NaN        NaN
                                       Node 1                 NaN        NaN
                                       Node 2                 NaN        NaN
...                                                           ...        ...
                isBuilt   [-]          Node 4                 NaN        NaN
                                       Water treatment        NaN        NaN
                operation [U*h/a]      Node 1                 NaN        NaN
                                       Node 2                 NaN        NaN
                                       Node 3             3386.62     3364.9
                                       Node 4                 NaN        NaN
                                       Water treatment        NaN        NaN
Old water pipes capacity  [U]          House 1                NaN        NaN
                                       House 2                NaN        NaN
                                       House 3                NaN        NaN
                                       House 4                NaN        NaN
                                       Node 2                 NaN        NaN
                                       Node 3                   1          1
                                       Node 4                 NaN        NaN
                                       Water tank             NaN        NaN
                                       Water treatment        NaN        NaN
                isBuilt   [-]          House 1                NaN        NaN
                                       House 2                NaN        NaN
                                       House 3                NaN        NaN
                                       House 4                NaN        NaN
                                       Node 2                 NaN        NaN
                                       Node 3                   1          1
                                       Node 4                 NaN        NaN
                                       Water tank             NaN        NaN
                                       Water treatment        NaN        NaN
                operation [U*h/a]      Node 2                 NaN        NaN
                                       Node 3             7.50041    4.55491
                                       Node 4                 NaN        NaN
                                       Water tank             NaN        NaN
                                       Water treatment        NaN        NaN

                                                          House 3    House 4  \
New water pipes TAC       [1e3 Euro/a] House 1                  0          0
                                       House 2                  0          0
                                       House 3                  0          0
                                       House 4                  0          0
                                       House 5                  0          0
                                       House 6                  0          0
                                       Node 1                   0          0
                                       Node 2           0.0485992  0.0482384
                                       Node 3                   0          0
                                       Node 4                   0          0
                                       Water treatment          0          0
                capacity  [U]          House 1                NaN        NaN
                                       House 2                NaN        NaN
                                       House 3                NaN        NaN
                                       House 4                NaN        NaN
                                       House 5                NaN        NaN
                                       House 6                NaN        NaN
                                       Node 1                 NaN        NaN
                                       Node 2            0.945382   0.901238
                                       Node 3                 NaN        NaN
                                       Node 4                 NaN        NaN
                                       Water treatment        NaN        NaN
                capexCap  [1e3 Euro/a] House 1                NaN        NaN
                                       House 2                NaN        NaN
                                       House 3                NaN        NaN
                                       House 4                NaN        NaN
                                       House 5                NaN        NaN
                                       House 6                NaN        NaN
                                       Node 1                 NaN        NaN
                                       Node 2            0.146829    0.14734
...                                                           ...        ...
                isBuilt   [-]          Node 4                 NaN        NaN
                                       Water treatment        NaN        NaN
                operation [U*h/a]      Node 1                 NaN        NaN
                                       Node 2             3373.89    3412.68
                                       Node 3                 NaN        NaN
                                       Node 4                 NaN        NaN
                                       Water treatment        NaN        NaN
Old water pipes capacity  [U]          House 1                NaN        NaN
                                       House 2                NaN        NaN
                                       House 3                NaN        NaN
                                       House 4                NaN        NaN
                                       Node 2                   1          1
                                       Node 3                 NaN        NaN
                                       Node 4                 NaN        NaN
                                       Water tank             NaN        NaN
                                       Water treatment        NaN        NaN
                isBuilt   [-]          House 1                NaN        NaN
                                       House 2                NaN        NaN
                                       House 3                NaN        NaN
                                       House 4                NaN        NaN
                                       Node 2                   1          1
                                       Node 3                 NaN        NaN
                                       Node 4                 NaN        NaN
                                       Water tank             NaN        NaN
                                       Water treatment        NaN        NaN
                operation [U*h/a]      Node 2              7.2389    8.99169
                                       Node 3                 NaN        NaN
                                       Node 4                 NaN        NaN
                                       Water tank             NaN        NaN
                                       Water treatment        NaN        NaN

                                                          House 5    House 6  \
New water pipes TAC       [1e3 Euro/a] House 1                  0          0
                                       House 2                  0          0
                                       House 3                  0          0
                                       House 4                  0          0
                                       House 5                  0          0
                                       House 6                  0          0
                                       Node 1           0.0487611  0.0488395
                                       Node 2                   0          0
                                       Node 3                   0          0
                                       Node 4                   0          0
                                       Water treatment          0          0
                capacity  [U]          House 1                NaN        NaN
                                       House 2                NaN        NaN
                                       House 3                NaN        NaN
                                       House 4                NaN        NaN
                                       House 5                NaN        NaN
                                       House 6                NaN        NaN
                                       Node 1            0.965183    0.97477
                                       Node 2                 NaN        NaN
                                       Node 3                 NaN        NaN
                                       Node 4                 NaN        NaN
                                       Water treatment        NaN        NaN
                capexCap  [1e3 Euro/a] House 1                NaN        NaN
                                       House 2                NaN        NaN
                                       House 3                NaN        NaN
                                       House 4                NaN        NaN
                                       House 5                NaN        NaN
                                       House 6                NaN        NaN
                                       Node 1            0.149904   0.159361
                                       Node 2                 NaN        NaN
...                                                           ...        ...
                isBuilt   [-]          Node 4                 NaN        NaN
                                       Water treatment        NaN        NaN
                operation [U*h/a]      Node 1             3385.86    3400.62
                                       Node 2                 NaN        NaN
                                       Node 3                 NaN        NaN
                                       Node 4                 NaN        NaN
                                       Water treatment        NaN        NaN
Old water pipes capacity  [U]          House 1                NaN        NaN
                                       House 2                NaN        NaN
                                       House 3                NaN        NaN
                                       House 4                NaN        NaN
                                       Node 2                 NaN        NaN
                                       Node 3                 NaN        NaN
                                       Node 4                 NaN        NaN
                                       Water tank             NaN        NaN
                                       Water treatment        NaN        NaN
                isBuilt   [-]          House 1                NaN        NaN
                                       House 2                NaN        NaN
                                       House 3                NaN        NaN
                                       House 4                NaN        NaN
                                       Node 2                 NaN        NaN
                                       Node 3                 NaN        NaN
                                       Node 4                 NaN        NaN
                                       Water tank             NaN        NaN
                                       Water treatment        NaN        NaN
                operation [U*h/a]      Node 2                 NaN        NaN
                                       Node 3                 NaN        NaN
                                       Node 4                 NaN        NaN
                                       Water tank             NaN        NaN
                                       Water treatment        NaN        NaN

                                                           Node 1     Node 2  \
New water pipes TAC       [1e3 Euro/a] House 1                  0          0
                                       House 2                  0          0
                                       House 3                  0  0.0485992
                                       House 4                  0  0.0482384
                                       House 5          0.0487611          0
                                       House 6          0.0488395          0
                                       Node 1                   0  0.0572565
                                       Node 2           0.0572565          0
                                       Node 3                   0  0.0658186
                                       Node 4                   0          0
                                       Water treatment          0          0
                capacity  [U]          House 1                NaN        NaN
                                       House 2                NaN        NaN
                                       House 3                NaN   0.945382
                                       House 4                NaN   0.901238
                                       House 5           0.965183        NaN
                                       House 6            0.97477        NaN
                                       Node 1                 NaN    2.00446
                                       Node 2             2.00446        NaN
                                       Node 3                 NaN     3.0519
                                       Node 4                 NaN        NaN
                                       Water treatment        NaN        NaN
                capexCap  [1e3 Euro/a] House 1                NaN        NaN
                                       House 2                NaN        NaN
                                       House 3                NaN   0.146829
                                       House 4                NaN    0.14734
                                       House 5           0.149904        NaN
                                       House 6           0.159361        NaN
                                       Node 1                 NaN   0.860216
                                       Node 2            0.860216        NaN
...                                                           ...        ...
                isBuilt   [-]          Node 4                 NaN        NaN
                                       Water treatment        NaN        NaN
                operation [U*h/a]      Node 1                 NaN          0
                                       Node 2             7162.52        NaN
                                       Node 3                 NaN    14611.6
                                       Node 4                 NaN        NaN
                                       Water treatment        NaN        NaN
Old water pipes capacity  [U]          House 1                NaN        NaN
                                       House 2                NaN        NaN
                                       House 3                NaN          1
                                       House 4                NaN          1
                                       Node 2                 NaN        NaN
                                       Node 3                 NaN          2
                                       Node 4                 NaN        NaN
                                       Water tank             NaN        NaN
                                       Water treatment        NaN        NaN
                isBuilt   [-]          House 1                NaN        NaN
                                       House 2                NaN        NaN
                                       House 3                NaN          1
                                       House 4                NaN          1
                                       Node 2                 NaN        NaN
                                       Node 3                 NaN          1
                                       Node 4                 NaN        NaN
                                       Water tank             NaN        NaN
                                       Water treatment        NaN        NaN
                operation [U*h/a]      Node 2                 NaN        NaN
                                       Node 3                 NaN    93.6361
                                       Node 4                 NaN        NaN
                                       Water tank             NaN        NaN
                                       Water treatment        NaN        NaN

                                                           Node 3     Node 4  \
New water pipes TAC       [1e3 Euro/a] House 1          0.0487282          0
                                       House 2          0.0489309          0
                                       House 3                  0          0
                                       House 4                  0          0
                                       House 5                  0          0
                                       House 6                  0          0
                                       Node 1                   0          0
                                       Node 2           0.0658186          0
                                       Node 3                   0  0.0762282
                                       Node 4           0.0762282          0

In [22]:
esM.componentModelingDict["TransmissionModel"].operationVariablesOptimum.sum(axis=1)

New water pipes  House 1          Node 3                 0.000000
                 House 2          Node 3                 0.000000
                 House 3          Node 2                 0.000000
                 House 4          Node 2                 0.000000
                 House 5          Node 1                 0.000000
                 House 6          Node 1                 0.000000
                 Node 1           House 5             3385.864780
                                  House 6             3400.619777
                                  Node 2                 0.000000
                 Node 2           House 3             3373.887533
                                  House 4             3412.683133
                                  Node 1              7162.516682
                                  Node 3                 0.000000
                 Node 3           House 1             3386.620539
                                  House 2             3364.900732
                                  Node 2             14611.626819
                                  Node 4                 0.000000
                 Node 4           Node 3             21649.347831
                                  Water tank             0.000000
                                  Water treatment        0.000000
                 Water tank       Node 4                 0.000000
                 Water treatment  Node 4             21961.886367
Old water pipes  House 1          Node 3                 0.000000
                 House 2          Node 3                 0.000000
                 House 3          Node 2                 0.000000
                 House 4          Node 2                 0.000000
                 Node 2           House 3                7.238899
                                  House 4                8.991694
                                  Node 3                 0.000000
                 Node 3           House 1                7.500411
                                  House 2                4.554908
                                  Node 2                93.636071
                                  Node 4                 0.000000
                 Node 4           Node 3               148.692644
                                  Water tank           792.786557
                                  Water treatment        0.000000
                 Water tank       Node 4               753.147229
                 Water treatment  Node 4               135.785369
dtype: float64

Write results to .csv for later testing purpose

In [23]:
esM.componentModelingDict["TransmissionModel"].operationVariablesOptimum.sum(axis=1).to_csv('totalTransmission.csv')