In [1]:
import fine as fn
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

%load_ext autoreload
%autoreload 2

# Water supply of a small mountain village

Two new houses (house 5 and 6) were built in a small mountain village in Utopia which requires an update of the existing clean water supply system of the village which now consists of 6 houses:

<img src="figures/MountainVillage.png" style="width: 500px;"/>


### Water demand
The demand for clean water occurs in spring between 5 am and 11 pm, in summer between 4 am and 12 pm, in autumn between 5 am and 11 pm and in winter between 6 am and 11 pm. The demand for one house assumes random values between 0 to 1 Uh (Unit*hour) during the demand hours. These values are uniformly distributed and are 0 outside the demand hours.

### Water supply 
The water supply comes from a small tributary of a glacier river, which provides more water in summer and less in winter: the profile is given for each hour of the year as

f(t) = 8 \* sin(π*t/8760) + g(t)    
    
where g(t) is a uniformly distributed random value between 0 and 4.

### Water storage
Clean water can be stored in a water tank (newly purchased). The invest per capacity is 100€/Uh, the economic lifetime is 20 years.

### Water treatment
The river water is converted to clean water in a water treatment plant (newly purchased). The invest per capacity is 7000€/U, the economic lifetime is 20 years. Further, it needs some electricity wherefore it has operational cost of 0.05 €/U.

### Water transmission
The clean water can be transported via water pipes, where some already exist between the houses 1-4, the water treatment plant and the
water tank, however new ones might need to
be built to connect the newly built houses or reinforce the transmission along the old pipes. The invest for new pipes per capacity is 100 €/(m\*U), the invest if a new pipe route is built is 500 €/(m\*U), the economic lifetime is 20 years.

In [2]:
locations = [
    "House 1",
    "House 2",
    "House 3",
    "House 4",
    "House 5",
    "House 6",
    "Node 1",
    "Node 2",
    "Node 3",
    "Node 4",
    "Water treatment",
    "Water tank",
]
commodityUnitDict = {"clean water": "U", "river water": "U"}
commodities = {"clean water", "river water"}
numberOfTimeSteps = 8760
hoursPerTimeStep = 1

In [3]:
esM = fn.EnergySystemModel(
    locations=set(locations),
    commodities=commodities,
    numberOfTimeSteps=8760,
    commodityUnitsDict=commodityUnitDict,
    hoursPerTimeStep=1,
    costUnit="1e3 Euro",
    lengthUnit="m",
)

# Source

In [4]:
riverFlow = pd.DataFrame(np.zeros((8760, 12)), columns=locations)
np.random.seed(42)
riverFlow.loc[:, "Water treatment"] = np.random.uniform(0, 4, (8760)) + 8 * np.sin(
    np.pi * np.arange(8760) / 8760
)

In [5]:
esM.add(
    fn.Source(
        esM=esM,
        name="River",
        commodity="river water",
        hasCapacityVariable=False,
        operationRateMax=riverFlow,
        opexPerOperation=0.05,
    )
)

# Conversion

In [6]:
eligibility = pd.Series([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0], index=locations)
esM.add(
    fn.Conversion(
        esM=esM,
        name="Water treatment plant",
        physicalUnit="U",
        commodityConversionFactors={"river water": -1, "clean water": 1},
        hasCapacityVariable=True,
        locationalEligibility=eligibility,
        investPerCapacity=7,
        opexPerCapacity=0.02 * 7,
        interestRate=0.08,
        economicLifetime=20,
    )
)

# Storage

In [7]:
eligibility = pd.Series([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1], index=locations)
esM.add(
    fn.Storage(
        esM=esM,
        name="Water tank",
        commodity="clean water",
        hasCapacityVariable=True,
        chargeRate=1 / 24,
        dischargeRate=1 / 24,
        locationalEligibility=eligibility,
        investPerCapacity=0.10,
        opexPerCapacity=0.02 * 0.1,
        interestRate=0.08,
        economicLifetime=20,
    )
)

# Transmission

### Distances between eligible regions

In [8]:
distances = np.array(
    [
        [0, 0, 0, 0, 0, 0, 0, 0, 38, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 0, 40, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 38, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 40, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 38, 0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 40, 0, 0, 0, 0, 0],
        [0, 0, 0, 0, 38, 40, 0, 105, 0, 0, 0, 0],
        [0, 0, 38, 40, 0, 0, 105, 0, 100, 0, 0, 0],
        [38, 40, 0, 0, 0, 0, 0, 100, 0, 30, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 0, 30, 0, 20, 50],
        [0, 0, 0, 0, 0, 0, 0, 0, 0, 20, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 0, 0, 50, 0, 0],
    ]
)

distances = pd.DataFrame(distances, index=locations, columns=locations)
distances

,House 1,House 2,House 3,House 4,House 5,House 6,Node 1,Node 2,Node 3,Node 4,Water treatment,Water tank
House 1,0,0,0,0,0,0,0,0,38,0,0,0
House 2,0,0,0,0,0,0,0,0,40,0,0,0
House 3,0,0,0,0,0,0,0,38,0,0,0,0
House 4,0,0,0,0,0,0,0,40,0,0,0,0
House 5,0,0,0,0,0,0,38,0,0,0,0,0
House 6,0,0,0,0,0,0,40,0,0,0,0,0
Node 1,0,0,0,0,38,40,0,105,0,0,0,0
Node 2,0,0,38,40,0,0,105,0,100,0,0,0
Node 3,38,40,0,0,0,0,0,100,0,30,0,0
Node 4,0,0,0,0,0,0,0,0,30,0,20,50
Water treatment,0,0,0,0,0,0,0,0,0,20,0,0
Water tank,0,0,0,0,0,0,0,0,0,50,0,0

## Old water pipes

In [9]:
capacityFix = np.array(
    [
        [0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
        [0, 0, 1, 1, 0, 0, 0, 0, 2, 0, 0, 0],
        [1, 1, 0, 0, 0, 0, 0, 2, 0, 4, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 0, 4, 0, 4, 4],
        [0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 0, 0],
    ]
)

capacityFix = pd.DataFrame(capacityFix, index=locations, columns=locations)
capacityFix

,House 1,House 2,House 3,House 4,House 5,House 6,Node 1,Node 2,Node 3,Node 4,Water treatment,Water tank
House 1,0,0,0,0,0,0,0,0,1,0,0,0
House 2,0,0,0,0,0,0,0,0,1,0,0,0
House 3,0,0,0,0,0,0,0,1,0,0,0,0
House 4,0,0,0,0,0,0,0,1,0,0,0,0
House 5,0,0,0,0,0,0,0,0,0,0,0,0
House 6,0,0,0,0,0,0,0,0,0,0,0,0
Node 1,0,0,0,0,0,0,0,0,0,0,0,0
Node 2,0,0,1,1,0,0,0,0,2,0,0,0
Node 3,1,1,0,0,0,0,0,2,0,4,0,0
Node 4,0,0,0,0,0,0,0,0,4,0,4,4
Water treatment,0,0,0,0,0,0,0,0,0,4,0,0
Water tank,0,0,0,0,0,0,0,0,0,4,0,0

The old pipes have many leckages wherefore they lose 0.1%/m of the water they transport.

In [10]:
isBuiltFix = capacityFix.copy()
isBuiltFix[isBuiltFix > 0] = 1

esM.add(
    fn.Transmission(
        esM=esM,
        name="Old water pipes",
        commodity="clean water",
        losses=0.1e-2,
        distances=distances,
        hasCapacityVariable=True,
        hasIsBuiltBinaryVariable=True,
        bigM=100,
        capacityFix=capacityFix,
        isBuiltFix=isBuiltFix,
    )
)

## New water pipes

In [11]:
incidence = np.array(
    [
        [0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
        [0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0],
        [0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0],
        [1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1],
        [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0],
    ]
)

eligibility = pd.DataFrame(incidence, index=locations, columns=locations)
eligibility

,House 1,House 2,House 3,House 4,House 5,House 6,Node 1,Node 2,Node 3,Node 4,Water treatment,Water tank
House 1,0,0,0,0,0,0,0,0,1,0,0,0
House 2,0,0,0,0,0,0,0,0,1,0,0,0
House 3,0,0,0,0,0,0,0,1,0,0,0,0
House 4,0,0,0,0,0,0,0,1,0,0,0,0
House 5,0,0,0,0,0,0,1,0,0,0,0,0
House 6,0,0,0,0,0,0,1,0,0,0,0,0
Node 1,0,0,0,0,1,1,0,1,0,0,0,0
Node 2,0,0,1,1,0,0,1,0,1,0,0,0
Node 3,1,1,0,0,0,0,0,1,0,1,0,0
Node 4,0,0,0,0,0,0,0,0,1,0,1,1
Water treatment,0,0,0,0,0,0,0,0,0,1,0,0
Water tank,0,0,0,0,0,0,0,0,0,1,0,0

The new are pipes are better but still lose 0.05%/m of the water they transport.

In [12]:
esM.add(
    fn.Transmission(
        esM=esM,
        name="New water pipes",
        commodity="clean water",
        losses=0.05e-2,
        distances=distances,
        hasCapacityVariable=True,
        hasIsBuiltBinaryVariable=True,
        bigM=100,
        locationalEligibility=eligibility,
        investPerCapacity=0.1,
        investIfBuilt=0.5,
        interestRate=0.08,
        economicLifetime=50,
    )
)

# Sink

In [13]:
winterHours = np.append(range(8520, 8760), range(1920))
springHours, summerHours, autumnHours = (
    np.arange(1920, 4128),
    np.arange(4128, 6384),
    np.arange(6384, 8520),
)

demand = pd.DataFrame(np.zeros((8760, 12)), columns=list(locations))
np.random.seed(42)
demand[locations[0:6]] = np.random.uniform(0, 1, (8760, 6))

demand.loc[winterHours[(winterHours % 24 < 5) | (winterHours % 24 >= 23)]] = 0
demand.loc[springHours[(springHours % 24 < 4)]] = 0
demand.loc[summerHours[(summerHours % 24 < 5) | (summerHours % 24 >= 23)]] = 0
demand.loc[autumnHours[(autumnHours % 24 < 6) | (autumnHours % 24 >= 23)]] = 0

In [14]:
demand.sum().sum()

19955.415289775883

In [15]:
esM.add(
    fn.Sink(
        esM=esM,
        name="Water demand",
        commodity="clean water",
        hasCapacityVariable=False,
        operationRateFix=demand,
    )
)

# Optimize the system

In [16]:
esM.aggregateTemporally(numberOfTypicalPeriods=7)

Clustering time series data with 7 typical periods and 24 time steps per period
further clustered to 12 segments per period...
		(7.7477 sec)

In [17]:
# esM.optimize(timeSeriesAggregation=True, optimizationSpecs='LogToConsole=1 OptimalityTol=1e-6 crossover=1')
esM.optimize(timeSeriesAggregation=True, solver="glpk")

Time series aggregation specifications:
Number of typical periods:7, number of time steps per period:24, number of segments per period:12

Declaring sets, variables and constraints for SourceSinkModel
	declaring sets...
	declaring variables...
	declaring constraints...
		(0.0843 sec)

Declaring sets, variables and constraints for ConversionModel
	declaring sets...
	declaring variables...
	declaring constraints...
		(0.0161 sec)

Declaring sets, variables and constraints for StorageModel
	declaring sets...
	declaring variables...
	declaring constraints...
		(0.1419 sec)

Declaring sets, variables and constraints for TransmissionModel
	declaring sets...
	declaring variables...
	declaring constraints...
		(0.1698 sec)

Declaring shared potential constraint...
		(0.0000 sec)

Declaring linked component quantity constraint...
		(0.0000 sec)

Declaring commodity balances...
		(0.1068 sec)

		(0.0000 sec)

Declaring objective function...
		(0.4670 sec)

GLPSOL--GLPK LP/MIP Solver 5.0
Parameter(s) specified in the command line:
 --write C:\Users\T58C8~1.GRO\AppData\Local\Temp\tmp9ijy9pkc.glpk.raw --wglp
 C:\Users\T58C8~1.GRO\AppData\Local\Temp\tmppdqki8lm.glpk.glp --cpxlp C:\Users\T58C8~1.GRO\AppData\Local\Temp\tmpki71yg_h.pyomo.lp
Reading problem data from 'C:\Users\T58C8~1.GRO\AppData\Local\Temp\tmpki71yg_h.pyomo.lp'...
C:\Users\T58C8~1.GRO\AppData\Local\Temp\tmpki71yg_h.pyomo.lp:46408: warning: lower bound of variable 'x110' redefined
C:\Users\T58C8~1.GRO\AppData\Local\Temp\tmpki71yg_h.pyomo.lp:46408: warning: upper bound of variable 'x110' redefined
6477 rows, 4701 columns, 22136 non-zeros
22 integer variables, all of which are binary
46430 lines were read
Writing problem data to 'C:\Users\T58C8~1.GRO\AppData\Local\Temp\tmppdqki8lm.glpk.glp'...
42538 lines were written
GLPK Integer Optimizer 5.0
6477 rows, 4701 columns, 22136 non-zeros
22 integer variables, all of which are binary
Preprocessing...
6217 rows, 3972 columns, 19789 non-zeros
18 integer variables, all of which are binary
Scaling...
 A: min|aij| =  4.167e-02  max|aij| =  1.000e+02  ratio =  2.400e+03
GM: min|aij| =  6.391e-01  max|aij| =  1.565e+00  ratio =  2.448e+00
EQ: min|aij| =  4.084e-01  max|aij| =  1.000e+00  ratio =  2.448e+00
2N: min|aij| =  2.500e-01  max|aij| =  1.000e+00  ratio =  4.000e+00
Constructing initial basis...
Size of triangular part is 5840
Solving LP relaxation...
GLPK Simplex Optimizer 5.0
6217 rows, 3972 columns, 19789 non-zeros
      0: obj =   1.104191521e+03 inf =   4.402e+03 (1356)
    816: obj =   1.127412242e+03 inf =   9.543e-13 (0) 7
*  1029: obj =   1.119974974e+03 inf =   2.682e-11 (0) 1
OPTIMAL LP SOLUTION FOUND
Integer optimization begins...
Long-step dual simplex will be used
+  1029: mip =     not found yet >=              -inf        (1; 0)
+  1590: >>>>>   1.148480916e+03 >=   1.138061022e+03   0.9% (2; 14)
+  1731: >>>>>   1.138452576e+03 >=   1.138452576e+03 < 0.1% (1; 16)
+  1731: mip =   1.138452576e+03 >=     tree is empty   0.0% (0; 33)
INTEGER OPTIMAL SOLUTION FOUND
Time used:   0.3 secs
Memory used: 10.7 Mb (11255494 bytes)
Writing MIP solution to 'C:\Users\T58C8~1.GRO\AppData\Local\Temp\tmp9ijy9pkc.glpk.raw'...
11187 lines were written

Status: ok
Termination condition: optimal
Statistics:
  Branch and bound:
    Number of bounded subproblems: 33
    Number of created subproblems: 33
Error rc: 0
Time: 0.4359111785888672


Name: unknown
Lower bound: 1138.45257613998
Upper bound: 1138.45257613998
Number of objectives: 1
Number of constraints: 6477
Number of variables: 4701
Number of nonzeros: 22136
Sense: minimize

Solve time: 0.8478584289550781 sec.

Processing optimization output...
for SourceSinkModel ...    (0.4133sec)
for ConversionModel ...    (0.2593sec)

C:\Users\t.gross\Documents\Programming\Jugit\fine\fine\storage.py:1984: UserWarning: Charge and discharge at the same time for component Water tank
  warnings.warn(

for StorageModel ...       (0.9395sec)
for TransmissionModel ...  (0.9994sec)
		(2.6404 sec)

# Selected results output

### Sources and Sinks

In [18]:
esM.getOptimizationSummary("SourceSinkModel", outputLevel=2)

                                               House 1      House 2  \
Component    Property        Unit
River        NPVcontribution [1e3 Euro]              0            0
             TAC             [1e3 Euro/a]            0            0
             operation       [U*h/a]               NaN          NaN
                             [U*h]                 NaN          NaN
             opexOp          [1e3 Euro/a]          NaN          NaN
Water demand operation       [U*h/a]       3329.490144  3301.975429
                             [U*h]         3329.490144  3301.975429

                                               House 3      House 4  \
Component    Property        Unit
River        NPVcontribution [1e3 Euro]              0            0
             TAC             [1e3 Euro/a]            0            0
             operation       [U*h/a]               NaN          NaN
                             [U*h]                 NaN          NaN
             opexOp          [1e3 Euro/a]          NaN          NaN
Water demand operation       [U*h/a]       3316.747491  3353.061497
                             [U*h]         3316.747491  3353.061497

                                               House 5      House 6 Node 1  \
Component    Property        Unit
River        NPVcontribution [1e3 Euro]              0            0      0
             TAC             [1e3 Euro/a]            0            0      0
             operation       [U*h/a]               NaN          NaN    NaN
                             [U*h]                 NaN          NaN    NaN
             opexOp          [1e3 Euro/a]          NaN          NaN    NaN
Water demand operation       [U*h/a]       3321.533349  3332.607381    NaN
                             [U*h]         3321.533349  3332.607381    NaN

                                          Node 2 Node 3 Node 4 Water tank  \
Component    Property        Unit
River        NPVcontribution [1e3 Euro]        0      0      0          0
             TAC             [1e3 Euro/a]      0      0      0          0
             operation       [U*h/a]         NaN    NaN    NaN        NaN
                             [U*h]           NaN    NaN    NaN        NaN
             opexOp          [1e3 Euro/a]    NaN    NaN    NaN        NaN
Water demand operation       [U*h/a]         NaN    NaN    NaN        NaN
                             [U*h]           NaN    NaN    NaN        NaN

                                          Water treatment
Component    Property        Unit
River        NPVcontribution [1e3 Euro]       1103.685981
             TAC             [1e3 Euro/a]     1103.685981
             operation       [U*h/a]         22073.719622
                             [U*h]           22073.719622
             opexOp          [1e3 Euro/a]     1103.685981
Water demand operation       [U*h/a]                  NaN
                             [U*h]                    NaN

### Storage

In [19]:
esM.getOptimizationSummary("StorageModel", outputLevel=2)

                                           House 1 House 2 House 3 House 4  \
Component  Property           Unit
Water tank NPVcontribution    [1e3 Euro]         0       0       0       0
           TAC                [1e3 Euro/a]       0       0       0       0
           capacity           [U*h]            NaN     NaN     NaN     NaN
           capexCap           [1e3 Euro/a]     NaN     NaN     NaN     NaN
           commissioning      [U*h]            NaN     NaN     NaN     NaN
           invest             [1e3 Euro]       NaN     NaN     NaN     NaN
           operationCharge    [U*h/a]          NaN     NaN     NaN     NaN
                              [U*h]            NaN     NaN     NaN     NaN
           operationDischarge [U*h/a]          NaN     NaN     NaN     NaN
                              [U*h]            NaN     NaN     NaN     NaN
           opexCap            [1e3 Euro/a]     NaN     NaN     NaN     NaN

                                           House 5 House 6 Node 1 Node 2  \
Component  Property           Unit
Water tank NPVcontribution    [1e3 Euro]         0       0      0      0
           TAC                [1e3 Euro/a]       0       0      0      0
           capacity           [U*h]            NaN     NaN    NaN    NaN
           capexCap           [1e3 Euro/a]     NaN     NaN    NaN    NaN
           commissioning      [U*h]            NaN     NaN    NaN    NaN
           invest             [1e3 Euro]       NaN     NaN    NaN    NaN
           operationCharge    [U*h/a]          NaN     NaN    NaN    NaN
                              [U*h]            NaN     NaN    NaN    NaN
           operationDischarge [U*h/a]          NaN     NaN    NaN    NaN
                              [U*h]            NaN     NaN    NaN    NaN
           opexCap            [1e3 Euro/a]     NaN     NaN    NaN    NaN

                                           Node 3 Node 4   Water tank  \
Component  Property           Unit
Water tank NPVcontribution    [1e3 Euro]        0      0     1.188019
           TAC                [1e3 Euro/a]      0      0     1.188019
           capacity           [U*h]           NaN    NaN    97.496752
           capexCap           [1e3 Euro/a]    NaN    NaN     0.993026
           commissioning      [U*h]           NaN    NaN    97.496752
           invest             [1e3 Euro]      NaN    NaN     9.749675
           operationCharge    [U*h/a]         NaN    NaN  1110.644847
                              [U*h]           NaN    NaN  1110.644847
           operationDischarge [U*h/a]         NaN    NaN  1110.644847
                              [U*h]           NaN    NaN  1110.644847
           opexCap            [1e3 Euro/a]    NaN    NaN     0.194994

                                           Water treatment
Component  Property           Unit
Water tank NPVcontribution    [1e3 Euro]                 0
           TAC                [1e3 Euro/a]               0
           capacity           [U*h]                    NaN
           capexCap           [1e3 Euro/a]             NaN
           commissioning      [U*h]                    NaN
           invest             [1e3 Euro]               NaN
           operationCharge    [U*h/a]                  NaN
                              [U*h]                    NaN
           operationDischarge [U*h/a]                  NaN
                              [U*h]                    NaN
           opexCap            [1e3 Euro/a]             NaN

### Conversion

In [20]:
esM.getOptimizationSummary("ConversionModel", outputLevel=2)

                                                   House 1 House 2 House 3  \
Component             Property        Unit
Water treatment plant NPVcontribution [1e3 Euro]         0       0       0
                      TAC             [1e3 Euro/a]       0       0       0
                      capacity        [U]              NaN     NaN     NaN
                      capexCap        [1e3 Euro/a]     NaN     NaN     NaN
                      commissioning   [U]              NaN     NaN     NaN
                      invest          [1e3 Euro]       NaN     NaN     NaN
                      operation       [U*h/a]          NaN     NaN     NaN
                                      [U*h]            NaN     NaN     NaN
                      opexCap         [1e3 Euro/a]     NaN     NaN     NaN

                                                   House 4 House 5 House 6  \
Component             Property        Unit
Water treatment plant NPVcontribution [1e3 Euro]         0       0       0
                      TAC             [1e3 Euro/a]       0       0       0
                      capacity        [U]              NaN     NaN     NaN
                      capexCap        [1e3 Euro/a]     NaN     NaN     NaN
                      commissioning   [U]              NaN     NaN     NaN
                      invest          [1e3 Euro]       NaN     NaN     NaN
                      operation       [U*h/a]          NaN     NaN     NaN
                                      [U*h]            NaN     NaN     NaN
                      opexCap         [1e3 Euro/a]     NaN     NaN     NaN

                                                   Node 1 Node 2 Node 3  \
Component             Property        Unit
Water treatment plant NPVcontribution [1e3 Euro]        0      0      0
                      TAC             [1e3 Euro/a]      0      0      0
                      capacity        [U]             NaN    NaN    NaN
                      capexCap        [1e3 Euro/a]    NaN    NaN    NaN
                      commissioning   [U]             NaN    NaN    NaN
                      invest          [1e3 Euro]      NaN    NaN    NaN
                      operation       [U*h/a]         NaN    NaN    NaN
                                      [U*h]           NaN    NaN    NaN
                      opexCap         [1e3 Euro/a]    NaN    NaN    NaN

                                                   Node 4 Water tank  \
Component             Property        Unit
Water treatment plant NPVcontribution [1e3 Euro]        0          0
                      TAC             [1e3 Euro/a]      0          0
                      capacity        [U]             NaN        NaN
                      capexCap        [1e3 Euro/a]    NaN        NaN
                      commissioning   [U]             NaN        NaN
                      invest          [1e3 Euro]      NaN        NaN
                      operation       [U*h/a]         NaN        NaN
                                      [U*h]           NaN        NaN
                      opexCap         [1e3 Euro/a]    NaN        NaN

                                                   Water treatment
Component             Property        Unit
Water treatment plant NPVcontribution [1e3 Euro]          3.581323
                      TAC             [1e3 Euro/a]        3.581323
                      capacity        [U]                 4.198673
                      capexCap        [1e3 Euro/a]        2.993509
                      commissioning   [U]                 4.198673
                      invest          [1e3 Euro]         29.390713
                      operation       [U*h/a]         22073.719622
                                      [U*h]           22073.719622
                      opexCap         [1e3 Euro/a]        0.587814

### Transmission

In [21]:
esM.getOptimizationSummary("TransmissionModel", outputLevel=2)

                                                        House 1    House 2  \
Component       Property        Unit       LocationIn
New water pipes NPVcontribution [1e3 Euro] House 1            0          0
                                           House 2            0          0
                                           House 3            0          0
                                           House 4            0          0
                                           House 5            0          0
...                                                         ...        ...
Old water pipes operation       [U*h/a]    Water tank       NaN        NaN
                                [U*h]      Node 2           NaN        NaN
                                           Node 3      9.220763  12.732745
                                           Node 4           NaN        NaN
                                           Water tank       NaN        NaN

                                                         House 3    House 4  \
Component       Property        Unit       LocationIn
New water pipes NPVcontribution [1e3 Euro] House 1             0          0
                                           House 2             0          0
                                           House 3             0          0
                                           House 4             0          0
                                           House 5             0          0
...                                                          ...        ...
Old water pipes operation       [U*h/a]    Water tank        NaN        NaN
                                [U*h]      Node 2      10.749452  21.394047
                                           Node 3            NaN        NaN
                                           Node 4            NaN        NaN
                                           Water tank        NaN        NaN

                                                      House 5 House 6  \
Component       Property        Unit       LocationIn
New water pipes NPVcontribution [1e3 Euro] House 1          0       0
                                           House 2          0       0
                                           House 3          0       0
                                           House 4          0       0
                                           House 5          0       0
...                                                       ...     ...
Old water pipes operation       [U*h/a]    Water tank     NaN     NaN
                                [U*h]      Node 2         NaN     NaN
                                           Node 3         NaN     NaN
                                           Node 4         NaN     NaN
                                           Water tank     NaN     NaN

                                                         Node 1     Node 2  \
Component       Property        Unit       LocationIn
New water pipes NPVcontribution [1e3 Euro] House 1            0          0
                                           House 2            0          0
                                           House 3            0   0.921722
                                           House 4            0   0.963248
                                           House 5     0.931507          0
...                                                         ...        ...
Old water pipes operation       [U*h/a]    Water tank       NaN        NaN
                                [U*h]      Node 2           NaN        NaN
                                           Node 3           NaN  81.470709
                                           Node 4           NaN        NaN
                                           Water tank       NaN        NaN

                                                          Node 3      Node 4  \
Component       Property        Unit       LocationIn
New water pipes NPVcontribution [1e3 Euro] House 1      0.924275           0
                                           House 2      0.969513           0
                                           House 3             0           0
                                           House 4             0           0
                                           House 5             0           0
...                                                          ...         ...
Old water pipes operation       [U*h/a]    Water tank        NaN  374.925756
                                [U*h]      Node 2            0.0         NaN
                                           Node 3            NaN         0.0
                                           Node 4      75.898475         NaN
                                           Water tank        NaN  374.925756

                                                      Water tank  \
Component       Property        Unit       LocationIn
New water pipes NPVcontribution [1e3 Euro] House 1             0
                                           House 2             0
                                           House 3             0
                                           House 4             0
                                           House 5             0
...                                                          ...
Old water pipes operation       [U*h/a]    Water tank        NaN
                                [U*h]      Node 2            NaN
                                           Node 3            NaN
                                           Node 4            0.0
                                           Water tank        NaN

                                                      Water treatment
Component       Property        Unit       LocationIn
New water pipes NPVcontribution [1e3 Euro] House 1                  0
                                           House 2                  0
                                           House 3                  0
                                           House 4                  0
                                           House 5                  0
...                                                               ...
Old water pipes operation       [U*h/a]    Water tank             NaN
                                [U*h]      Node 2                 NaN
                                           Node 3                 NaN
                                           Node 4                 0.0
                                           Water tank             NaN

[143 rows x 12 columns]

In [22]:
esM.componentModelingDict["TransmissionModel"].operationVariablesOptimum.sum(axis=1)

New water pipes  House 1          Node 3                 0.000000
                 House 2          Node 3                 0.000000
                 House 3          Node 2                 0.000000
                 House 4          Node 2                 0.000000
                 House 5          Node 1                 0.000000
                 House 6          Node 1                 0.000000
                 Node 1           House 5             3385.864780
                                  House 6             3400.619777
                                  Node 2                 0.000000
                 Node 2           House 3             3370.444973
                                  House 4             3400.533889
                                  Node 1              7162.516682
                                  Node 3                 0.000000
                 Node 3           House 1             3384.933506
                                  House 2             3356.889790
                                  Node 2             14623.489900
                                  Node 4                 0.000000
                 Node 4           Node 3             21720.929840
                                  Water tank           947.462639
                                  Water treatment        0.000000
                 Water tank       Node 4               548.850317
                 Water treatment  Node 4             22073.719622
Old water pipes  House 1          Node 3                 0.000000
                 House 2          Node 3                 0.000000
                 House 3          Node 2                 0.000000
                 House 4          Node 2                 0.000000
                 Node 2           House 3               10.749452
                                  House 4               21.394047
                                  Node 3                 0.000000
                 Node 3           House 1                9.220763
                                  House 2               12.732745
                                  Node 2                81.470709
                                  Node 4                 0.000000
                 Node 4           Node 3                75.898475
                                  Water tank             0.000000
                                  Water treatment        0.000000
                 Water tank       Node 4               374.925756
                 Water treatment  Node 4                 0.000000
dtype: float64